@use "../../../styles/variables" as v;
@import "../../../styles/mixins";
@import "./orbit-animations";

@keyframes fade-in {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.lejeu {
    background-color: v.$light-purple;

    &-content {
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: calc(v.$title-lh * 4);
        position: relative;
        overflow: hidden;

        @include section-vertical-padding($top-pad, $bottom-pad);
        @include border-radius(v.$box-radius);

        color: v.$light-pink;
        background-color: v.$dark-purple;

        .arrow1 {
            position: absolute;
            width: 13rem;
            right: calc(v.$pad + 20rem);
            top: 2rem;

            @include respond-to(large) {
                right: calc(v.$pad-l + 20rem);
            }

            @include respond-to(medium) {
                width: 12rem;
            }
        }

        &__intro {
            display: flex;
            flex-direction: column;
            gap: v.$title-lh;
            width: clamp(70%, 70vw, 55%);
            text-align: right;
            padding: 0 v.$pad 0 v.$pad;
            align-self: flex-end;

            @include respond-to(medium) {
                width: 100%;
            }

            @include respond-to(large) {
                padding-left: v.$pad-l;
                padding-right: v.$pad-l;
            }
        }

        &__artists {
            display: flex;
            flex-direction: column;
            gap: calc(v.$title-lh * 2);
            padding: 0 v.$pad 0 v.$pad;

            h3 {
                font-weight: 400;
            }

            .artists__container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between; 
                gap: 5rem 10rem;
        
                .artist {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 3rem;
        
                    flex: 0 0 23.3333%;
                    width: clamp(20rem, 20vw, 25rem);

                    &__portrait {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            mix-blend-mode: plus-lighter;
                        }
                    }
        
                    &__text {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
        
                        h5, p {
                            text-align: center;
                        }
        
                        h5 {
                            font-weight: 600;
                        }
        
                        p {
                            font-weight: 200;
                        }
                    }

                    @include respond-to(medium) {
                        flex: 0 0 40%;
                    }

                    @include respond-to(small) {
                        flex: 0 0 70%;
                    }
                }

                @include respond-to(medium) {
                    justify-content: center;
                }

                @include respond-to(small) {
                    gap: 5rem 5rem;
                }
            }

            @include respond-to(large) {
                padding-left: v.$pad-l;
                padding-right: v.$pad-l;
            }
        }

        &__presentation {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .arrow2 {
                position: absolute;
                width: 18rem;

                left: -3vw;
                margin-top: -7rem;

                @include respond-to(large) {
                    left: 0.5vw;
                    margin-top: -7rem;
                }

                @include respond-to(medium) {
                    left: -11vw;
                    margin-top: -6rem;
                }
            }

            &__text {
                display: flex;
                flex-direction: column;
                gap: v.$title-lh;
                width: 97%;
                padding: calc(v.$title-lh * 3) 32vw calc(v.$title-lh * 3) v.$box-pad;
                border-radius: v.$box-radius;

                background-color: v.$light-pink;
                color: v.$light-purple;

                @include respond-to(medium) {
                    padding-right: v.$box-pad;
                }

                @include respond-to(large) {
                    padding-right: 20vw;
                    padding-left: v.$box-pad-l;
                }
            }

            &__img {
                position: absolute;
                right: 3vw;
                margin-right: - v.$pad;
                margin-top: -5rem;
                width: clamp(40rem, 50vw, 55rem);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }

                @include respond-to(large) {
                    right: 4vw;
                }

                @include respond-to(medium) {
                    display: none;
                }
            }
        }
    }
}



