@import "variables";

// Responsive

@mixin respond-to($breakpoint) {
    @if $breakpoint == small {
        @media (max-width: $breakpoint-small) {
            @content;
        }
    } @else if $breakpoint == medium {
        @media (max-width: $breakpoint-medium) {
            @content;
        }
    } @else if $breakpoint == large {
        @media (min-width: $breakpoint-large) {
            @content;
        }
    } @else if $breakpoint == small-height {
        @media (min-width: $breakpoint-medium) and (max-height: 42rem) {
            @content;
        }
    }
}

// Paddings & radius

@mixin section-vertical-padding($top-pad, $bottom-pad) {
    padding: v.$top-pad 0 v.$bottom-pad 0;
}

@mixin border-radius($radius) {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}

// Animations

@mixin spin($name, $rotate1, $rotate2, $duration) {
    @keyframes #{$name} {
        from { transform: rotate($rotate1); }
        to { transform: rotate($rotate2); }
    }

    animation: #{$name} #{$duration} infinite linear;
}

@mixin grow($name) {
    @keyframes #{$name} {
        0% { 
            opacity: 0.15;
            transform: (scale(1));
        }

        50% { 
            opacity: 0;
            transform: (scale(0.5));
        }

        100% { 
            opacity: 0.15;
            transform: (scale(1));
        }
    }

    animation: #{$name} 2s infinite ease-in-out;
}