// Colors
$light-pink: #FFE5E5;  
$light-purple: #5637BF;
$dark-purple: #2C2054;
$purple-gradient: linear-gradient(90deg, rgba(96,0,148,0.4) 0%, rgba(163,107,193,0.4) 100%);

// Spacings
$pad-l: 15vw; 
$pad-m: 15vw; 
$pad: 10vw;
$pad-s: 8vw; 
$pad-xs: 5rem; 

$top-pad: 9rem;
$bottom-pad: 15rem;

$vertical-pad: 15rem;

$title-lh: 2.2rem;

$box-pad: calc($pad - 1.5%);
$box-pad-l: calc($pad-l - 1.5%);
$box-radius: 100px;

// Breakpoints
$breakpoint-small: 650px;
$breakpoint-medium: 900px;
$breakpoint-large: 1500px;
$breakpoint-xl: 1600px;