@use "variables" as v;
@use "reset";
@import "mixins";


html {
    font-size: 62.5%;
}

h1 {
    font-size: clamp(3.157rem, 2.82944rem + 0.862vw, 4.209rem);
    line-height: 6rem;
}

.btn, a, input, textarea {
    font-size: clamp(1.7rem, 0.95072rem + 0.656vw, 2rem);
}

h2 {
    font-size: clamp(4.209rem, 3.77276rem + 1.148vw, 5.61rem);
}

h3 {
    font-size: clamp(2.369rem, 2.12352rem + 0.646vw, 3.157rem);

    line-height: 35px;
}

h4 {font-size: clamp(2.369rem, 2.12352rem + 0.646vw, 3.157rem);}

h5 {
    font-size: clamp(1.7rem, 0.95072rem + 0.656vw, 2rem);
}

h6 {
    font-size: 1.25rem;
}

p {
    font-size: clamp(1.7rem, 0.95072rem + 0.656vw, 2rem);
}

small {
    font-size: 0.8rem;
}