@use "../../styles/variables" as v;
@import "../../styles/mixins";

.content-slider {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    margin-top: 3vw;

    swiper-container {
        width: 100%;
        height: 30vw;

        swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;

            border: 0.35vw solid v.$light-pink;
            border-radius: 10vw;
            overflow: hidden;

            text-align: center;
            font-size: 18px;

            transform: scale(0.6) rotate(0deg);
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
            opacity: 0.6;

            .img-container {
                position: absolute;
                display: flex;

                align-items: center;
                justify-content: center;
                top: 0;
                bottom: 0;
                margin: 3%;
                overflow: hidden;

                border-radius: 9.5vw;

                background: v.$purple-gradient;

                transform: scale(1) rotate(0deg);
                transition: transform 0.3s ease-in-out;
            }
    
            img {
                display: block;
                width: 90%;
                object-fit: cover;
                
                border-radius: 9.5vw;

                @include respond-to(large) {
                    border-radius: 6.5vw;
                }
            }

            @include respond-to(large) {
                border-radius: 7.5vw;
            }
        }

        @include respond-to(large) {
            width: 95%;
            height: 25vw;
        }

        @include respond-to(small) {
            width: 80%;
            height: 65vw;
        }

    }

    #slide1-4 {
        width: 80%;
    }

    .swiper-slide-active {
        transform: scale(1) rotate(-5deg);
        opacity: 1;

        .img-container {
            transform: scale(1) rotate(5deg);
        }
    }

    swiper-container::part(container) {
        overflow: visible;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 10;

        img {
            transition: transform 0.05s ease-in;
            width: 6vw;

            @include respond-to(small) {
                width: 10vw;
            }
        }
    }

    .swiper-button-prev {
        left: 20vw;

        @include respond-to(small) {
            left: 7vw;
        }
    }

    .swiper-button-next {
        right: 20vw;

        @include respond-to(small) {
            right: 7vw;
        }
    }

    .swiper-button-prev:hover, 
    .swiper-button-next:hover {
        img {
            transform: scale(1.3);
        }
    }
}
