@use "../../styles/variables" as v;

.hero {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    height: 100vh;
    padding: 30rem v.$pad 12rem v.$pad;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: v.$light-pink;
    
    h1 {
        font-weight: 500;
        color: v.$light-purple;
    }
    
    &__text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 50rem;

        .buy-button {
            align-self: start;
            padding: 0.5rem 1.8rem;
            border-radius: 10rem;
            text-decoration: none;
            color: v.$light-pink;
            background-color: v.$light-purple;
        }
    }

    &__img {
        // width: 62rem;
        max-width: 62rem;
        min-width: 50rem;
        margin-right: -5rem;
    }
}


