@use "../../styles/variables" as v;

.header {
    position: relative;

    &-nav {
        position: absolute;
        width: 100%;
        padding: 2.2rem 2.5rem;

        &__menu-link {
            float: left;
        }

        &__account-link {
            float: right;
        }

        &__basket-link {
            float: right;
            margin-left: 1rem;
        }
    }

    &-title {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%); 
        margin-top: 15rem;
    }
}
