.return {
    position: absolute;
    top: 2rem;
    transform: scale(1);
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.2);
    }
    img {
        cursor: pointer;
        left: -4rem;
        top: 2rem;
        transform: rotate(150deg);
        width: max(7rem, 5vw);
    }
}