@use '../../../styles/variables' as v;
@import "../../../styles/mixins";

.regles {
    background-color: v.$dark-purple;

    &__content {
        @include section-vertical-padding($top-pad, $bottom-pad);

        color: v.$light-pink;
        background-color: v.$light-purple;

        &__title {
            display: flex;
            flex-direction: column;
            gap: v.$title-lh;
            margin-bottom: v.$title-lh;

            padding: 0 v.$pad 0 v.$pad;

            @include respond-to(large) {
                padding-left: v.$pad-l;
                padding-right: v.$pad-l;
            }
        }

        &__phase-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1vw;
            width: 100%;
        }

        &__phase {
            cursor: pointer;
            overflow: hidden;
            
            height: auto;
            display: flex;
            flex-direction: column;
            gap: v.$title-lh;
            width: 97%;
            
            border-radius: clamp(30px , 10vw, 70px);
            padding: 2.1vw v.$box-pad 2.3vw v.$box-pad;

            @include respond-to(small) {
                & {
                    padding: 2vw v.$box-pad 2vw v.$box-pad;;
                }
            }

            @include respond-to(large) {
                & {
                    padding: 3vw v.$box-pad 3vw v.$box-pad;;
                }
            }

            background-color: v.$light-pink;
            color: v.$light-purple;
            
            opacity: 1;
            transition: opacity 0.3s ease;

            &.close:hover {
                opacity: 0.5;
            }

            &-title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__dropdown {
                    width: clamp(2rem, 5vw, 5rem);

                    transform: rotate(0deg);
                    transition: transform 0.3s ease;
                    
                    &.open {
                        transform: rotate(180deg);
                    }

                }
            }

        
            &-steps {
                cursor: default;
                
                display: flex;
                position: relative;
                flex-direction: column;
                gap: 1vw;

                opacity: 0;
                transition: opacity 0.5s ease;

                &.show {
                    opacity: 1;
                }

                .description-list {
                    display: flex;
                    align-items: center;
                    

                    .number {
                        width: max(6vw, 5rem);
                        height: max(6vw, 5rem);
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        left: min(-3vw, -25px);
                        
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }


                & > * {
                    border-radius: clamp(30px , 3vw, 40px);
                    padding: max(3vw, 2rem) min(7vw, 7rem);
                }

                & > *:nth-child(odd) {
                    background-color: v.$light-purple;
                    color: v.$light-pink;

                    .number {
                        background-image: url("../../../assets/icons/starburst-odd.png");
                    }
                }

                & > *:nth-child(even) {
                        border: max(0.5vw, 5px) solid v.$light-purple;

                    .number {
                        color: v.$light-purple;
                        background-image: url("../../../assets/icons/starburst-even.png");
                    }
                }
            }
        }
    }
}


